@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap");

/* * {
  border: 1px solid gray;
} */

body {
  font-family: "Rubik", sans-serif;
  background-color: bisque;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a {
  font-size: 32px;
  text-decoration: none;
  color: coral;
}

.menu-reveal {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  height: 100vh;
  width: 250px;
  bottom: 0;
  transition: transform 1s ease-in;
  left: 0;
  transform-origin: top left;
  transform: rotate(35deg);
}

.menu-reveal ul {
  list-style-type: none;
  margin-left: 24px;
  margin-bottom: 48px;
  padding: 0;
}

.menu-reveal ul li {
  margin-top: 24px;
}

.main-container {
  background-color: azure;
  display: flex;
  height: 200vh;
  justify-content: center;
  transform-origin: top left;
  transition: transform 1s ease-in-out;
}

.article-container {
  z-index: 0;
  width: 60%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.container-rotate {
  transform: rotate(-35deg);
}

.menu-rotate {
  transform: rotate(0deg);
}

img {
  width: 720px;
}

.menu {
  z-index: 1;
  position: absolute;
  top: -128px;
  left: -128px;
  border-radius: 50%;
  background-color: coral;
  width: 256px;
  height: 256px;
  cursor: pointer;
}

.open {
  transform: rotate(180deg);
}

.hidden {
  display: none;
}

.fa-solid {
  color: azure;
  position: absolute;
  top: 60%;
  left: 75%;
  transform: translateX(-65%);
  padding: 32px 48px;
}
