@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@400;600&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  padding: 0;
  list-style: none;
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

/* Set core body defaults */
body {
  font-size: 1.6rem;
  background-color: mediumaquamarine;
  color: rgba(19, 54, 54, 0.775);
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.6;
  font-family: "Prompt", sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.main-title {
  text-align: center;
  font-size: 12.8rem;
  color: mintcream;
  letter-spacing: -0.4rem;
}

.todo-container {
  width: 56rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 8px 16px rgba(30, 30, 44, 0.201);
}

/* Header section */
.header {
  background-color: white;
  display: flex;
  border-bottom: 1px solid rgb(209, 213, 213);
}

.mark-all-checkbox {
  display: none;
}

.mark-all-checkbox:checked + .mark-all-label {
  color: darkcyan;
}

.mark-all-container {
  color: lightgray;
}

.mark-all-label {
  height: 6.4rem;
  width: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.todo-input {
  border: 0;
  width: 100%;
  padding: 0.8rem;
  font-size: 2.4rem;
}

.todo-input:focus {
  outline: 0;
}

/* main section */

.main {
  background-color: white;
}

.list-item {
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item-label {
  margin-right: auto;
  margin-left: 1.6rem;
}

.list-item-checkbox {
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 100px;
  border: 1px solid rgb(118, 128, 126);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.list-item-checkbox:checked {
  border: 0;
  background: darkcyan;
}

.list-item-checkbox:checked + label {
  text-decoration: line-through;
  opacity: 0.6;
}

.list-item-checkbox:checked::after {
  content: "\f00c";
  display: inline-block;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  color: white;
}

.list-item:not(:last-of-type) {
  border-bottom: 1px solid rgb(209, 213, 213);
}

.button--remove {
  cursor: pointer;
  color: rgb(168, 182, 182);
  border: 0;
  background-color: transparent;
}

/* footer section */
.footer {
  padding: 1.6rem;
  border-top: 1px solid rgb(209, 213, 213);
  justify-content: space-between;
  font-size: 1.4rem;
  background-color: white;
  display: flex;
}

.filters {
  display: flex;
  gap: 1.6rem;
}

.filters-radio {
  display: none;
}

.filters-radio:checked + label {
  outline: 1px solid mediumaquamarine;
  color: mediumaquamarine;
}

.filters-label {
  transition: all 0.2s ease;
  cursor: pointer;
  padding: 0.8rem 1.2rem;
  border-radius: 0.8rem;
}

.button--clear {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  text-decoration: underline;
  font-weight: bold;
}
