@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

/* *{
    border: 1px solid gray;
} */

body{
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    display: flex;
    height: 100vh;
    background-color: rgb(250, 247, 243);
    color: rgba(69, 82, 82, 0.842);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.active{
    border: 8px solid rgba(90, 228, 171, 0.76);
    box-shadow: 0px 0px 32px rgba(69, 82, 82, 0.404);
}

.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(69, 173, 142);
    color: white;
    border-radius: 64px;
    height: 72px;
    width: 72px;
    z-index: 1;
}

.progress-container{
    position: relative;
    display: flex;
    align-items: center;
    gap: 96px;
}

.progress-container::before{
    content: "";
    position: absolute;
    background-color: rgba(160, 161, 158, 0.479);
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    width: 95%;
    height: 8px;
    z-index: 0;
}

.progress{
    position: absolute;
    background-color: rgb(69, 173, 142);
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    height: 8px;
    z-index: 0;
}

.button-container{
    margin-top: 48px;
    display: flex;
    gap: 24px;
}

.button{
    font-family: inherit;
    font-weight: bold;
    font-size: inherit;
    border-radius: 24px;
    border: 0;
    background-color: rgb(69, 173, 142);
    cursor: pointer;
    width: 128px;
    height: 72px;
    padding: 16px;
    color: white;
}

.button:disabled{
    background-color: rgb(217, 222, 223);
    cursor: not-allowed;
    color: rgba(126, 128, 129, 0.658);
}

.button:active{
    transform: scale(0.98);
}

.button:focus{
    outline: 1;
}