@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header{
    margin-top: 24px;
    margin-bottom: 64px;
}
footer{
    margin-top: 64px;
}


.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 24px;
}

.panel{
    position: relative;
    width: 80vw;
    height: 56px;
    background-image: url("./Images/cancer.jpg");
    border-radius: 24px;
    cursor: pointer;
    transition: flex 1s ease-out;
}

.panel:hover{
    opacity: .7;
    transition: all .2s;
}

.panel h2{
    position: absolute;
    opacity: inherit;
    transition: opacity 0.3s ease-in ;
    left: 32px;
    top: -8px;
}

.active{
    flex-grow: 5;
}

footer{

}