@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap");

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  line-height: 1.6;
  color: rgba(39, 39, 70, 0.836);
  font-size: 1.8rem;
  height: 100vh;
  background-color: rgb(232, 230, 222);
}

.note {
  overflow: hidden;
  background-color: white;
  width: 300px;
  display: inline-block;
}

.toolbar {
  background-color: crimson;
  padding: 8px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.toolbar button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 18px;
}

textarea {
  border: 0;
  padding: 16px;
  width: calc(100% - 8px);
  height: 100%;
  font-family: inherit;
}

textarea:focus {
  outline: none;
}

button.add-note {
  cursor: pointer;
  border-radius: 1.6rem;
  background-color: coral;
  color: white;
  padding: 1.6rem;
  font-family: inherit;
  border: 0;
  display: inline-block;
}
